name: Mypy

on:
#   push:
#     branches:
#       - "**"
  pull_request:
    branches:
      - "**"

jobs:
  mypy_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv sync --group dev

      - name: Run mypy
        run: uv run mypy deluge_web_client
